{% extends 'base.html.twig' %}

{% block title %}Nouvelle Séance{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <a class="btn btn-lg btn-primary mt-4" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
        <div class="row mt-2 mb-2">
        </div>
        <div class="row">
            <div class="col-7">
            </div>
            <div class="col-4">
                <h1>Nouvelle séance</h1>

                <svg width="400pt" height="260pt" viewBox="0 0 976 634"
                     xmlns="http://www.w3.org/2000/svg"
                     style="background: black"
                >
                    <g transform="translate(0,634) scale(0.1,-0.1)">
                        <path
                                id="position 5"
                                d="M30 4910 l0 -1400 410 0 410 0 0 1400 0 1400 -410 0 -410 0 0 -1400z"/>
                        <path
                                id="position 1"
                                d="M8930 4920 l0 -1390 400 0 400 0 0 1390 0 1390 -400 0 -400 0 0 -1390z"/>
                        <path
                                id="position 10"
                                d="M880 5680 l0 -620 1290 0 1290 0 0 620 0 620 -1290 0 -1290 0 0 -620z"/>
                        <path
                                id="position 11"
                                d="M3490 4435 l0 -1865 1410 0 1410 0 0 1865 0 1865 -1410 0 -1410 0 0 -1865z"/>
                        <path
                                id="position 6"
                                d="M6340 5680 l0 -620 1280 0 1280 0 0 620 0 620 -1280 0 -1280 0 0 -620z"/>
                        <path
                                id="position 9"
                                d="M880 4269 l0 -760 16 -72 c41 -183 96 -344 182 -532 50 -111 137
-273 152 -285 4 -3 24 -34 44 -70 21 -36 41 -67 45 -70 3 -3 18 -23 32 -45 63
-97 266 -335 285 -335 11 0 90 -84 97 -103 3 -9 17 -23 30 -32 13 -8 60 -49
103 -90 44 -41 82 -75 86 -75 3 0 20 -12 36 -27 32 -30 33 -31 107 -86 28 -20
57 -43 65 -51 28 -26 275 -183 393 -250 112 -64 360 -186 376 -186 4 0 31 -11
59 -25 29 -14 63 -25 77 -25 l25 0 18 38 c9 20 20 39 23 42 4 3 20 28 35 56
16 29 59 103 95 165 36 63 98 170 138 239 39 69 76 132 81 140 61 100 180 310
180 318 0 6 4 12 8 14 11 4 212 351 212 366 l0 12 -207 2 -208 3 -3 1243 -2
1242 -1290 0 -1290 0 0 -761z"/>
                        <path
                                id="position 7"
                                d="M6338 3788 l-3 -1243 -217 -3 -218 -2 0 -16 c0 -13 15 -42 89 -164 5
-8 41 -69 79 -135 38 -66 89 -154 113 -195 24 -41 47 -76 51 -78 5 -2 8 -8 8
-13 0 -13 182 -323 192 -327 4 -2 8 -9 8 -15 0 -7 18 -40 40 -75 22 -34 40
-65 40 -68 0 -2 12 -23 26 -46 27 -42 49 -81 114 -196 l35 -62 27 0 c15 0 30
5 33 10 3 6 15 10 26 10 10 0 19 5 19 10 0 6 10 10 22 10 27 0 408 187 408
201 0 5 6 9 13 9 12 0 146 76 157 89 3 3 22 15 43 26 20 11 37 23 37 28 0 4 8
11 18 15 31 12 122 75 122 84 0 4 7 8 15 8 8 0 15 5 15 10 0 6 8 14 18 17 52
20 272 211 462 404 142 144 195 206 300 353 73 102 180 277 180 294 0 6 4 12
8 14 13 5 79 139 127 257 59 146 89 235 124 377 l31 121 -2 764 -3 764 -1277
3 -1278 2 -2 -1242z"/>
                        <path
                                id="position 2"
                                d="M8920 3483 c0 -30 -47 -202 -83 -308 -68 -197 -126 -325 -228 -503
-27 -46 -49 -88 -49 -93 0 -5 -4 -9 -9 -9 -5 0 -13 -10 -17 -22 -3 -12 -15
-31 -26 -42 -10 -11 -21 -31 -24 -43 -4 -13 -9 -23 -13 -23 -4 0 -37 -39 -73
-87 -36 -49 -99 -126 -140 -173 -41 -47 -80 -96 -87 -108 -6 -12 -17 -22 -23
-22 -7 0 -38 -27 -70 -60 -31 -33 -61 -60 -66 -60 -4 0 -21 -14 -38 -31 -16
-17 -78 -72 -139 -122 -60 -51 -112 -94 -115 -97 -3 -4 -26 -21 -52 -38 -25
-18 -52 -38 -60 -44 -7 -7 -25 -19 -40 -27 -15 -8 -37 -22 -47 -33 -11 -10
-23 -18 -27 -18 -4 0 -21 -10 -38 -23 -43 -32 -200 -124 -331 -193 -100 -54
-220 -110 -349 -164 l-48 -20 5 -19 c5 -20 456 -793 467 -801 4 -3 10 -15 14
-27 4 -13 11 -23 16 -23 4 0 11 -11 14 -24 3 -14 12 -31 19 -38 6 -8 19 -27
28 -43 27 -51 44 -79 56 -92 l12 -13 1185 0 1186 0 0 1730 0 1730 -405 0 -405
0 0 -17z"/>
                        <path
                                id="position 4"
                                d="M40 1760 l0 -1720 1203 0 1202 1 235 406 c129 223 247 428 261 454
14 27 31 54 36 61 26 32 75 138 70 150 -2 7 -27 21 -53 32 -27 10 -131 58
-232 107 -100 49 -184 89 -187 89 -3 0 -14 8 -25 17 -11 10 -41 29 -68 43 -45
25 -101 60 -220 138 -66 43 -264 191 -317 237 -22 19 -51 42 -63 52 -53 41
-222 204 -222 215 0 5 -6 8 -12 9 -16 0 -86 76 -188 204 -45 55 -89 110 -100
121 -11 12 -20 27 -20 33 0 6 -4 11 -10 11 -5 0 -10 6 -10 13 0 7 -11 24 -25
39 -14 15 -25 32 -25 37 0 5 -6 16 -14 24 -25 25 -190 328 -221 405 -16 40
-32 75 -37 78 -4 3 -8 13 -8 22 0 9 -6 29 -14 43 -15 29 -76 229 -102 332
l-16 67 -409 0 -409 0 0 -1720z"/>
                        <path
                                id="position 8"
                                d="M3880 2472 c-22 -38 -40 -73 -40 -79 0 -6 -4 -13 -8 -15 -5 -1 -36
-50 -69 -108 -33 -58 -104 -180 -157 -271 -53 -91 -96 -171 -96 -177 0 -7 -3
-12 -8 -12 -4 0 -16 -17 -27 -37 -10 -21 -27 -49 -36 -63 -9 -14 -27 -45 -41
-70 -14 -25 -42 -73 -62 -107 -20 -34 -36 -66 -36 -71 0 -6 -4 -12 -8 -14 -9
-3 -56 -82 -94 -158 -13 -25 -26 -47 -29 -50 -9 -7 -59 -99 -59 -108 0 -4 15
-13 33 -20 69 -27 265 -94 317 -109 134 -37 252 -66 335 -84 251 -53 339 -68
590 -95 l160 -18 345 0 345 -1 110 13 c394 47 468 59 753 128 174 42 354 96
505 152 l67 24 0 15 c0 11 -150 274 -241 423 -15 26 -260 443 -281 480 -68
118 -102 176 -108 180 -4 3 -10 15 -14 28 -4 12 -12 22 -17 22 -5 0 -9 5 -9
12 0 6 -33 67 -72 135 l-73 123 -967 0 -967 0 -41 -68z"/>
                        <path
                                id="position 3"
                                d="M3074 1083 c-6 -10 -55 -94 -109 -188 -54 -93 -148 -255 -208 -360
-61 -104 -120 -206 -131 -226 -12 -20 -49 -85 -83 -144 -35 -59 -63 -111 -63
-116 l0 -9 2415 0 2415 0 0 13 c0 7 -16 36 -35 66 -19 29 -35 55 -35 58 0 3
-32 60 -72 127 -152 257 -227 385 -288 491 -36 61 -68 112 -72 113 -4 2 -8 9
-8 15 0 7 -18 40 -40 75 -22 34 -40 67 -40 71 0 5 -6 14 -14 20 l-14 12 -209
-70 c-337 -113 -602 -174 -963 -220 -608 -79 -1248 -41 -1840 108 -221 55
-251 65 -443 132 -76 27 -142 49 -145 49 -4 0 -12 -8 -18 -17z"/>
                    </g>
                </svg>


                {#                <img src="{{ asset('img/playground.jpg') }}" alt="terrain" usemap="#playground" id="playground" #}
                {#                     class="playground" width="500" height="400"/> #}

                {#                <map name="playground" id="playground" style="cursor: pointer"> #}

                {#                    <area shape="rect" coords="68,236,89,342" target="position 1" alt="position 1" title="position 1" #}
                {#                          id="position 1"/> #}
                {#                    <area shape="poly" coords="68,235,68,152,164,150,131,174,110,199,100,218,91,235" target="position 2" #}
                {#                          alt="position 2" title="position 2" id="position 2"/> #}
                {#                    <area shape="poly" #}
                {#                          coords="70,57,70,152,169,148,203,135,240,131,276,134,303,142,319,148,421,151,419,57" #}
                {#                          target="position 3" alt="position 3" title="position 3" id="position 3"/> #}
                {#                    <area shape="poly" coords="419,153,420,238,397,239,385,212,371,191,353,173,338,161,320,150" #}
                {#                          target="position 4" alt="position 4" title="position 4" id="position 4"/> #}
                {#                    <area shape="rect" coords="398,240,420,342" target="position 5" alt="position 5" #}
                {#                          title="position 5" id="position 5"/> #}
                {#                    <area shape="poly" coords="92,342,194,340,194,296,95,230,95,231" target="position 6" #}
                {#                          alt="position 6" title="position 6" id="position 6"/> #}
                {#                    <area shape="poly" coords="195,295,96,228,116,197,152,161,176,149,218,228,217,259" #}
                {#                          target="position 7" alt="position 7" title="position 7" id="position 7"/> #}
                {#                    <area shape="poly" coords="178,148,217,135,257,135,289,140,317,152,274,239,223,239" #}
                {#                          target="position 8" alt="position 8" title="position 8" id="position 8"/> #}
                {#                    <area shape="poly" #}
                {#                          coords="320,152,344,168,365,189,378,206,387,222,395,238,291,289,275,259,276,237,276,236" #}
                {#                          target="position 9" alt="position 9" title="position 9" id="position 9"/> #}
                {#                    <area shape="poly" coords="289,341,394,341,394,241,290,291" target="position 10" alt="position 10" #}
                {#                          title="position 10" id="position 10"/> #}
                {#                    <area shape="poly" coords="200,340,197,296,220,258,221,241,274,241,274,261,287,288,286,339" #}
                {#                          target="position 11" alt="position 11" title="position 11" id="position 11"/> #}
                {#                </map> #}

                {{ include('shootarounds/_form.html.twig') }}

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2">
                <a href="{{ path('app_main') }}"><img src="{{ asset('img/retour.png') }}" alt=""></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('shoot') }}
{% endblock %}